
  
 
  .container-blue{
    display:flex;
    align-items: center;
    width: 143px;
   height: 35px;
/* UI Properties */
   background: #0072BB 0% 0% no-repeat padding-box;
    border-radius: 5px;
   opacity: 0.1;
   padding-left:7px;
  
  }
  .bank1
  {
    width: 145px;
    height: 16px;
    text-align: left;
    
    
  }
  .container-blue-2
  { 
    padding-left:7px;
    display:flex;
    align-items: center;
    width: 181px;
    height: 35px;
/* UI Properties */
   background: #0072BB 0% 0% no-repeat padding-box;
   border-radius: 5px;
   opacity: 0.1;
   margin-left:10px;
  }
  
  .text-3
  {
    display: flex;
    flex-direction: column;
    margin-top:20px;

  }
  .interest{
    width: 84px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 14px/17px Apercu Pro;
    letter-spacing: 0px;
    color: #1A1B1E;
    opacity: 0.6;
   
  }
  .per-an1
  {
    width: 62px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 14px/17px Apercu Pro;
    letter-spacing: 0px;
    color: #1A1B1E;
    opacity: 1;
    margin-top:3px;
  }

  .bg-book1
  {
    width: 133px;
    height: 42px;
    /* UI Properties */
    background: #0072BB 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #0000000D;
    border-radius: 5px;
    opacity: 1;
    align-items: center; 
    justify-content: center;
  
    margin-top: 20px;
    margin-left:127px;

  }
 

   

.card-outer1
{
  width: 398px;
  height: 250px;
  margin-left:26px;
  background: #EFF6FF 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #0000000D;
border: 4px solid #FFFFFF;
border-radius: 5px;
opacity: 1;
  
} 